.back{
    height:100%;
	width:100%;
	z-index:-3;
	position:fixed;
    background: #ffcdd2;
    background-repeat: no-repeat;
    background-position: right;
	left:0;
    top:0;
    overflow: auto;
}

.headr{
    font-size: 50px;
    position: relative;
    text-align: center;
}

  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-size: 25px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 10px 6px;
    float: left;
    width: 19.99999%;
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }