
<div class="back">

  <br><br><br><br><br>

  <h1 class="headr"><b>Events</b></h1>

  <br><br><br><br><br>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" routerLink="detail">
        <img src="assets/w&e.png" width="600" height="400">
      </a>
      <div class="desc"><b>Workshops & Exhibitions</b></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="assets/informals.png" width="600" height="400">
      </a>
      <div class="desc"><b>Informals</b></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="assets/proshows.png" width="600" height="400">
      </a>
      <div class="desc"><b>Proshows</b></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="assets/Pronites.png" width="600" height="400">
      </a>
      <div class="desc"><b>Pronites</b></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="#">
        <img src="assets/pre_mi.png" width="600" height="400">
      </a>
      <div class="desc"><b>Pre-MI</b></div>
    </div>
  </div>

</div>