
<div class="scrolling-data">

    <h4>FAQ</h4>
  
    <ul>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
    </ul>
  </div>
  