<div *ngFor="let category of competitions_categories">
  <div class="btn-group" *ngIf="category.name == current_competition_category">
    <div *ngFor="let event of category.events">
      <div *ngIf="event.name == current_event">


        <h1>{{event.name}}</h1>

        <div class="btn-group" style="top:205px">
            <a routerLink="comp-desc"><button>Description & Rules</button></a>
            <a routerLink="comp-prizes"><button>Prizes & LYPs</button></a>
            <a routerLink="comp-faq"><button>FAQs</button></a>
        </div>

        <div class="description">
          <router-outlet></router-outlet>
        </div>

        <div class="btn-group" style="top:250px">
            <a routerLink="comp-reg"><button>Register</button></a>
            <a routerLink="comp-prev-winner"><button>Previous Winners</button></a>
        </div>

        


      </div>
    </div>
  </div>
</div>