<b><h1>Competitions</h1></b>

<div *ngFor="let category of competitions_categories">
  <div *ngIf="category.name == current_competition_category">
    <img onerror="this.style.visibility = 'hidden'" src="../../../assets/competition-images/{{category.name}}1.png" class="image1">
    <img onerror="this.style.visibility = 'hidden'" src="../../../assets/competition-images/{{category.name}}2.png" class="image2">
    <div class="btn-group">
      <a *ngFor="let event of category.events" class="button" routerLink="{{event.name}}">
      <b> {{event.name}} </b> <br>
      {{event.subtitle}}
      </a>
    </div>
  </div>
</div>