.bg1 {
    z-index: -3;
    width:100%;
    height:100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.heading {
    left:0px;
    position:fixed;
    width:100%;
    text-align: center;
    font-size: 50px;
    font-family: Verdana;
    margin-top: 125px;
}

.scrolling-data {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.scrolling-data::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.scrolling-data {
    position:absolute;
    left: 0;
    top: 260px;
    bottom: 50px;
    font-family: Verdana;
    font-size: 18px;
    overflow-y: auto;
    width: 100%;
    align-content: center;
    text-align: center;

}

.btn-group{
    width: 100%;
    position: absolute;
    text-align: center;
    left:0px;

}
.grp1{
    top:190px;
}
.grp2{
    top:220px;
}


.btn-group{
    
    width: 100%;
    position: absolute;
    text-align: center;
    left:0px;

}

.btn-group button {
    background-color: transparent;
    border: 0px;
    color: gray;
    cursor: pointer;
    width:auto;
    font-size: 140%;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    font-weight: 500;
}

.btn-group button:hover {
    color:black;
    /* background-color: white; */
}



.btn-group button:focus {
    color:black;
}

/**********************************************************/



.photo-container {
  position: relative;
  height:90%;
  text-align: center;
  padding:50px;
  padding-top: 0px;
  margin:20px;
  display:inline-flex;
}


.image {
  width: 200px;
  height:200px;
  border:1px solid white;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin:0px;
  padding:8px 8px 8px 8px;
  background-color: white;	
  display:block;
}

.image #main-img{
	height:100%;
    width: 100%;

}
.image #main-img:hover{
	filter:blur(4px);
}

.img-text{
	position:relative;
	width:100%;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-family: 'Poppins';
	font-size:24px;
	word-wrap: break-word;
	color:black;	
	margin:0px;
	padding:2px 8px;	
}

 #img_0 {
	transform: rotate(6deg);
}

 #img_1 {
	transform: rotate(-2deg);
}

 #img_2 {
	transform: rotate(-8deg);
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #CAE2EA;
}

.photo-container:hover .overlay {
  opacity: 0.8;
}

.content {
  color: white;
  font-size: 20px;
  width:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.content .phone-det{
	position: relative;
	width:100%;
	height:20px;
	color:black;
	font-family: Lato, sans-serif;
	font-size:20px;
	text-align: center;
	padding:4px;
	margin:4px;

}


.phone-det .overlay-icons{
	position:absolute;
	height:100%;
	width:20px;
	top:0;
	left:0px;
	
}

.phone-det .overlay-icons:hover{
	filter:blur(0px);
}

.content .email-det{
	position: relative;
	width:100%;
	height:20px;
	color:black;
	font-family: Lato, sans-serif;
	font-size:70%;
	text-align: center;
	padding:4px;
	margin:4px;

}


.email-det .overlay-icons{
	position:absolute;
	height:100%;
	width:20px;
	top:0;
	left:0px;
	
}

.email-det .overlay-icons:hover{
	filter:blur(0px);
}

.content .icons{
	position:relative;
	height:15px;
	width:100%;
    margin-top: 20px;
	padding:0px 0px;
	left:-10px;
}

.icons #overlay-fb{
	width:14%;
	/* margin:2px; */
	display:inline-flex;

}

/*
.icons #overlay-fb:hover{
	filter:blur(0px);
	content:url(/assets/icon/fb-hover.png);	
}*/


.icons #overlay-in{
	width:14%;
	/* margin:2px; */
	display:inline-flex;

}
/*
.icons #overlay-in:hover{
	filter:blur(0px);
	content:url(/assets/icon/in-hover.png);	
}*/

.icons #overlay-twitter{
	width:14%;
	/* margin:2px; */
	display:inline-flex;

}
/*
.icons #overlay-twitter:hover{
	filter:blur(0px);
	content:url(/assets/icon/insta-hover.png);	
}*/

.icons #overlay-insta{
	width:14%;
	/* margin:2px; */
	/* display:inline-flex; */

}