.form-inline{
    margin-top: 0px;
    margin-left: 250px;
}

.element{
    margin-left: 0px;
    font-size: 20px;
    font-family: Verdana;
    margin-top: 0px;
}

.phd{
    display: table-cell;
    position: relative;
    left: 40px !important;
    border: groove black!important;
    border-width: 0 1px;
    border-radius: 2em;
    padding: 0.6em 1.4em;
    font-size: 15px;
    background-color: transparent;
    margin: 10px 30px;
    width: 170%;
    outline: none;
}
.scrolling-data {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.scrolling-data::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.scrolling-data {
    
    position:absolute;
    left: 0px;
    top: 210px;
    bottom: 20px;
    overflow-y: auto;
    width: 100%;

}

.container{
    text-align: center;
}

.button{
    background-color: transparent;
    color:black;
    cursor: pointer;
    width:auto;
    font-weight: bold;
    margin-left: -10%;
    text-align: center;
    font-size: 15px;
    font-family: Verdana;
    border: groove black!important;
    border-width: 0 1px;
    background-color: transparent;
    cursor: pointer;
    width:120px;
    padding: 0.4em 1.5em;
    border-radius: 2em;
    outline: none !important;
    margin-top: 20px;
}

.button:hover{
    width:130px;
    padding: 0.45em 1.6em;
    font-size: 16px;
    margin-top: 18px;
}