
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300&display=swap" rel="stylesheet">
</head>

<div> 

  <ul style="z-index:999; background:url(assets/images/topbar.jpg); background-size: 100% 100%;"><br>
      <li><a class="button1" routerLink="contact"><b>CONTACT US</b></a></li>
      <li><a class="button1" routerLink="#"><b>SPONSORS</b></a></li>
      <li><a class="button1" routerLink="#"><b>FAQs</b></a></li>
      <li><a class="button1" routerLink="competition"><b>COMPETITIONS</b></a></li>
      <li><a class="button1" routerLink="#"><b>EVENTS</b></a></li>
      <li><a class="button1" routerLink="#"><b>REGISTRATION</b></a></li>
      <li><a class="button1" routerLink="#"><b>ACCOMMODATION</b></a></li>
  </ul>
  

 <!-- <img style="width: 100%;" src="assets/images/topbar.jpg"> -->

<br><br><br><br><br><br>

  <!-- <center><a class="button3" href="#" style="font-family: 'Poppins'; color: #ffe21f; letter-spacing: 1px;">REGISTER</a></center> -->

  <div class="btn-group" style="position: absolute; left: 20px; bottom: 50px;">
      <a class="button2" href="#">
          <img src="assets/images/facebook button.png">
      </a>
      <a class="button2" href="#">
          <img src="assets/images/twitter button.png">
      </a>
      <a class="button2" href="#">
          <img src="assets/images/youtube button.png">
      </a>
      <a class="button2" href="#">
          <img src="assets/images/instagram button.png">
      </a>
      <a class="button2" href="#">
          <img src="assets/images/linkedin button.png">
      </a>
      <a class="button2" href="#">
          <img src="assets/images/snapchat button.png">
      </a>
  </div>

  <div style="position: absolute; right: 20px; bottom: 40px">
      <button class="btn striped-shadow white"><span><b>CONTACT US</b></span></button>
  </div>


<router-outlet></router-outlet>
</div>

