
    .header{
      z-index:999; 
      background:url("../assets/images/topbar.jpg"); 
      background-size: 100% 100%;
    }
    @media only screen and (max-width: 800px) {
      .header{
        z-index:999; 
        background:url("../assets/home/Topbarmobile.png"); 
        background-size: 100% 100%;
      }
    }
      