
    body {
        margin: 0px;
        background: #e03977;
        }

        /* .button3 {

          background-color: #e03977;
          border: none;
          padding: 0 0;
          text-align: center;
          text-decoration: none;
          font-size: 40px;
          margin: 4px 2px;
          cursor: pointer;
        } */
    
        .button1:hover {
          background-color: #4f2c84;
          color: white;
        }
    
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0px 15px;
          overflow: hidden;
          background-color: #4f2c84;
          position: fixed;
          top: 0;
          width: 100%;
          height: 160px;
          text-align: center;
          justify-content: center;
         
        }
    
        li {
          float: right;
          padding:0px 10px;
          text-align: center;

        }
    
        li a {
          display: block;
          color: #ffe21f;
          font-family: 'Poppins';
          font-size: 20px;
          text-align: center;
          padding: 10px;
          text-decoration: none;
        }
    
        .btn-group .button2 {
          /* background-color: #e03977; */
          border: none;
          color: white;
          padding: 0 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          /* height: 10px; */
          
          cursor: pointer;
          float: left;
        }
    
        *, :after, :before {
          box-sizing: border-box;
        }
    
        :focus {
          outline: none;
        }
        
    
        div {
          margin: 0;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
        }
        button {
          overflow: visible;
          border: 0;
          padding: 0;
          margin: 1.8rem;
        }
        .btn.striped-shadow span {
          display: block;
          position: relative;
          z-index: 2;
          border: 5px solid;
        }
        .btn.striped-shadow.white span {
          border-color: #fff;
          color: #fff;
          /* background: #e03977; */
        }
    
        .btn {
          font-family: 'Poppins', sans-serif;
          height: 20px;
          line-height: 90px;
          display: inline-block;
          letter-spacing: 1px;
          position: relative;
          font-size: 1.35rem;
          transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
          transition: opacity .3s, z-index .3s step-end, transform .3s;
          transition: opacity .3s,
            z-index .3s step-end,
            transform .3s,
            -webkit-transform .3s;
          z-index: 1;
          background-color: transparent;
          cursor: pointer;
        }
    
        .btn {
          width: 180px;
          height: 48px;
          line-height: 38px;
        }
    
        button.btn.striped-shadow.white:after, button.btn.striped-shadow.white:before {
          background-image: linear-gradient(
            135deg,
            transparent 0,
            transparent 5px,
            #fff 5px,
            #fff 10px,
            transparent 10px
          );
        }
    
        button.btn.striped-shadow:hover:before {
          max-height: calc(100% - 10px);
        }
    
        button.btn.striped-shadow:after {
          width: calc(100% - 4px);
          height: 8px;
          left: -10px;
          bottom: -9px;
          background-size: 15px 8px;
          background-repeat: repeat-x;
        }
        button.btn.striped-shadow:after, button.btn.striped-shadow:before {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          transition: max-height .3s, width .3s, -webkit-transform .3s;
          transition: transform .3s, max-height .3s, width .3s;
          transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
        }
    
        .btn.striped-shadow:hover {
          -webkit-transform: translate(-12px, 12px);
          -ms-transform: translate(-12px, 12px);
          transform: translate(-12px, 12px);
          z-index: 3;
        }
    
        button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
          -webkit-transform: translate(12px, -12px);
          -ms-transform: translate(12px, -12px);
          transform: translate(12px, -12px);
        }
        button.btn.striped-shadow:before {
          width: 8px;
          max-height: calc(100% - 5px);
          height: 100%;
          left: -12px;
          bottom: -5px;
          background-size: 8px 15px;
          background-repeat: repeat-y;
          background-position: 0 100%;
        }