
<div class="scrolling-data">

    <h4>Know Your CL</h4>
  
    <ul>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
      <li>Be Safe</li>
    </ul>
  </div>
  
  <div class="bg-gradient"></div>
