<div *ngFor="let category of competitions_categories">
    <div class="btn-group" *ngIf="category.name == current_competition_category">
        <div *ngFor="let event of category.events">
            <div *ngIf="event.name == current_event">
      
                <div style="font-size: 2.5em; font-variant: small-caps; font-weight:bold; font-family: 'Courier New', Courier, monospace">Prizes</div><br>
                <div [innerHTML]="event.prizes"></div><br>
                <div *ngIf="event.LYP_partner" style="font-size: 2.5em; font-variant: small-caps; font-weight:bold; font-family: 'Courier New', Courier, monospace">LYP Partners</div><br>
                <div [innerHTML]="event.LYP_partner"></div>
              
      
              
      
      
            </div>
        </div>
    </div>
</div>