.bg1 {
    z-index: -3;
    size: cover;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.bg2 {
    z-index: -1;
    size: cover;
    background-position: center;
    position: fixed;
    bottom: -120px;
    left: 0px;

}

h1 {
    left:0px;
    position:fixed;
    width:100%;
    text-align: center;
    font-size: 50px;
    font-family: Verdana;
    margin-top: 125px;
}

.scrolling-data {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.scrolling-data::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.scrolling-data {
    
    position:absolute;
    left: 0px;
    top: 200px;
    bottom: 116px;
    font-family: Verdana;
    font-size: 18px;
    overflow-y: auto;
    width: 100%;
    text-align: center;

}

.btn-group{
    
    width: 100%;
    position: absolute;
    text-align: center;
    left:0px;

}

.btn-group button {
    background-color: transparent;
    border: 0px;
    color: white;
    cursor: pointer;
    width:auto;
    font-size: 140%;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    margin-left: 3%;
    font-weight: 500;
}

.btn-group button:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
}

.btn-group button:focus {
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    outline: none !important;
}
