<div class="back">
<img src='../../assets/competition-images/sky-bg.png' class="bg1">
<img src='../../assets/competition-images/road-forefront.png' class="bg2">

<router-outlet></router-outlet>

<div class="btn-group" style="bottom:75px">
        <a routerLink="Music">
          <button (click)="onClick('music')" [ngClass]="{'clicked': clickedButton=='music'}">MUSIC</button></a>
        <a routerLink="Dance">
          <button (click)="onClick('dance')" [ngClass]="{'clicked': clickedButton=='dance'}">DANCE</button></a>
        <a routerLink="Speaking Arts">
          <button (click)="onClick('speak')" [ngClass]="{'clicked': clickedButton=='speak'}">SPEAKING ARTS</button></a>
        <a routerLink="Literary Arts">
          <button (click)="onClick('lit')" [ngClass]="{'clicked': clickedButton=='lit'}">LITERARY ARTS</button></a>
</div>

<div class="btn-group" style="bottom:40px">
        <a routerLink="Design and Digital Arts">
          <button (click)="onClick('dda')" [ngClass]="{'clicked': clickedButton=='dda'}">DESIGN AND DIGITAL ARTS</button></a>
        <a routerLink="Dramatics">
          <button (click)="onClick('drama')" [ngClass]="{'clicked': clickedButton=='drama'}">DRAMATICS</button></a>
        <a routerLink="Lifestyle">
          <button (click)="onClick('life')" [ngClass]="{'clicked': clickedButton=='life'}">LIFESTYLE</button></a>
        <a routerLink="Fine Arts">
          <button (click)="onClick('arts')" [ngClass]="{'clicked': clickedButton=='arts'}">FINE ARTS</button></a>
</div></div>



