<img src='../../assets/competition-images/sky-bg.png' class="bg1">
<img src='../../assets/competition-images/road-forefront.png' class="bg2">

<b><h1>Competitions</h1></b>

<div class='scrolling-data'>
        I've paid my dues <br>
        Time after time <br>
        I've done my sentence <br>
        But committed no crime<br>
        And bad mistakes <br>
        I've made a few<br>
        I've had my share of sand kicked in my face<br>
        But I've come through<br>
        We are the champions, my friends<br>
        And we'll keep on fighting 'til the end<br>
        We are the champions<br>
        We are the champions<br>
        No time for losers<br>
        'Cause we are the champions of the world<br>
        I've taken my bows<br>
        And my curtain calls<br>
        You brought me fame and fortune and everything that goes with it<br>
        I thank you all<br>
        But it's been no bed of roses<br>
        No pleasure cruise<br>
        I consider it a challenge before the whole human race<br>
        And I ain't gonna lose<br>
        We are the champions, my friends<br>
        And we'll keep on fighting 'til the end<br>
        We are the champions<br>
        We are the champions<br>
        No time for losers<br>
        'Cause we are the champions of the world<br>
        We are the champions, my friends<br>
        And we'll keep on fighting 'til the end<br>
        We are the champions<br>
        We are the champions<br>
        No time for losers<br>
        'Cause we are the champions<br>
</div>

<div class="btn-group" style="bottom:75px">
        <button>MUSIC</button>
        <button>DANCE</button>
        <button>SPEAKING ARTS</button>
        <button>LITERARY ARTS</button>
</div>

<div class="btn-group" style="bottom:40px">
        <button>DESIGN AND DIGITAL ARTS</button>
        <button><span>DRAMATICS</span></button>
        <button>LIFESTYLE</button>
        <button>FINE ARTS</button>
</div>



