<div class="back">

  <img src="../assets/accommodation-images/Tent.png" class="bg1">
  
  <h1 class="heading">Accommodation</h1>
  <router-outlet></router-outlet>

  <div class="btn-group grp1">

    <a routerLink="know-your-cl"><button>Know Your CL</button></a>
    <a routerLink="policy-&-charges"><button>Policy & Charges</button></a>
    <a routerLink="faq"><button>FAQ</button></a>
    <a routerLink="reach-us"><button>Reach Us</button></a>
    <a routerLink="security-guidelines"><button>Security Guidelines</button></a>

    

</div>