<div class="back">
 
  <br><br><br><br><br><br><br><br><br><br>

    <div class="icon left_in_one">
      <a href="https://www.snapchat.com/" target="_blank">
        <img class="img-fluid" src="../assets/sponsor-images/snapchat-ghost.png" alt="Snapchat"> 
      </a>

      <br>
      <span class="icon_title">Snapchat</span>
      <br>
      <span class="icon_sub_title">Title Sponsor</span>
    </div>


    <div class="icon left_in_two">
        <a href="https://www.nivea.in/" target="_blank">
          <img class="img-fluid" src="../assets/sponsor-images/nivea-men.png" alt="Nivea"> 
        </a>
  
        <br>
        <span class="icon_title">Nivea</span>
        <br>
        <span class="icon_sub_title">Powered By</span>
    </div>

    <div class="icon right_in_two">
        <a href="http://www.ucweb.com/ucbrowser/download/android.html" target="_blank">
          <img class="img-fluid" src="../assets/sponsor-images/uc-browser.png" alt="UC Browser"> 
        </a>
  
        <br>
        <span class="icon_title">UC Browser</span>
        <br>
        <span class="icon_sub_title">Co-sponsored By</span>
    </div>


    <div class="icon left_in_two">
        <a href="https://hindustantimes.com/" target="_blank">
          <img class="img-fluid" src="../assets/sponsor-images/ht-scroll-logo.png" alt="Hindustan Times"> 
        </a>
  
        <br>
        <span class="icon_title">Hindustan Times</span>
        <br>
        <span class="icon_sub_title">in Association with</span>
    </div>

    <div class="icon right_in_two">
        <a href="https://www.onlinesbi.com/" target="_blank">
          <img class="img-fluid" src="../assets/sponsor-images/sbi.png" alt="SBI"> 
        </a>
  
        <br>
        <span class="icon_title">SBI</span>
        <br>
        <span class="icon_sub_title">Banking Partner</span>
    </div>


    <div class="icon left_in_three">
        <a href="http://www.r-elan.com/" target="_blank">
          <img class="img-fluid" src="../assets/sponsor-images/relan-logo.png" alt="R-Elan"> 
        </a>
  
        <br>
        <span class="icon_title">R-Elan</span>
        <br>
        <span class="icon_sub_title">Earth Style Partner</span>
    </div>

    <div class="icon middle_in_three">
        <a href="https://www.arcticfox.com/" target="_blank">
          <img class="img-fluid" src="../assets/sponsor-images/arctic-fox.png" alt="Arctic Fox"> 
        </a>
  
        <br>
        <span class="icon_title">Arctic Fox</span>
        <br>
        <span class="icon_sub_title">Backpack Partner</span>
    </div>

    <div class="icon right_in_three">
        <a href="https://www.gshock.com/" target="_blank">
          <img class="img-fluid" src="../assets/sponsor-images/g-shock-logo.png" alt="G-Shock"> 
        </a>
  
        <br>
        <span class="icon_title">G-Shock</span>
        <br>
        <span class="icon_sub_title">Time Partner</span>
    </div>


</div>

